/* CSS Variables */

/* Montserrat font family */
/* @font-face {
    font-family: myFirstFont;
    src: url(../../vendor/fonts/Montserrat/Montserrat-Regular.ttf);
} */

/* Raleway font family */
/* @font-face {
    font-family: myFirstFont;
    src: url(../../vendor/fonts/Raleway/Raleway-Regular.ttf);
} */